.nav_active {
     
     background-color: #DADADA; 
     backdrop-filter: blur(12px);
     

  }
  
  .over {
    position: relative;
    transform:translate(0%, 20%);

   
  }
  .over .over_1{
   gap:1rem;
  }
  .overcard {
    width:100%;
    background:gray;
    padding: 1rem;
    width: 16.5625rem;
    height: 22.0625rem;
   flex-shrink: 0;
   border-radius: 1.25rem;
border: 1px solid #8E8E8E;
background: #ffffff;
box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.19);
  }
  .overcard img {
    width: 15rem;
    height: 15.3125rem;
    flex-shrink: 0;
    border-radius: 0.8125rem;
    border: 1px solid #8E8E8E;
    
  }
  

  @media (max-width: 768px) {
   nav ul {
     @apply hidden flex-col text-center bg-[#f2f2f2] p-4 rounded-lg absolute top-[5em] w-[93vw] h-[50vh];
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }

    nav ul a {
    @apply px-[0];
  } 
   nav .nav-link-animation {
    animation: linkIntro 0.5s;
    
  }

  
  @keyframes linkIntro {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  nav .animation {
    animation: navLinks 0.3s ease;
  
  }
  @keyframes navLinks {
    from {
      opacity: 0;
      transform: translateY(-100px) scale(0);
    }
    to {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }

  ul[data-nav-toggle="true"] {
    @apply flex;
  }

  .over .over_1 {
    flex-direction: column;
    align-items:center;
   
  }
  .over {
    top: 0%;
    transform:translate(0%, 10%);
   
  }
}


.text_gradient {
   background: linear-gradient(to right, #000066, rgb(0, 51, 153));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }


 
 

